header {
  background-color: #fffbf0;
}
.penguin-btn-success {
  background: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
  color: #fff;
}
.penguin-card {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}
.penguin-card img {
  height: 350px;
  padding: 0.7rem;
}
.card {
  border: 0px solid;
}

@media only screen and (max-width: 576px) {
  .navbar-brand img {
    width: 170px;
  }
}
